a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

@media all and (max-width: 1100px) {
    .list-view.editing .device-grid {
        display: none;
    }
}

.dashboard-view .device-stats {
    font-size: 4em;
    margin: 1em 0;
}

.list-view {
  padding: var(--lumo-space-s);
}

.device-box {
  background-color: #F3F3F3;
  border-style: solid;
  border-color: #D7D7D7;
  border-width: 0.125rem;
  margin: var(--lumo-space-xs);
  padding: 0.75rem;
}

.device-name-span {
  border-style: dotted;
  border-color: #3D3D3D;
  border-width: 0.125rem 0 0.125rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.device-options-box {
  margin: 0 0 0 0;
}

.power-state-toggle {
  margin: 0.75rem 0 0 0;
}

.percentage-button {
  background: transparent;
  padding: 0;
  margin: 0;
  color: #3D3D3D;
}

.fill-remaining-space {
  flex: auto;
}

#header {
  height: var(--lumo-size-xl);
  padding-right: var(--lumo-space-s);
}

#header img {
  border-radius: 50%;
  height: var(--lumo-size-s);
  margin-left: auto;
  margin-right: var(--lumo-space-m);
  overflow: hidden;
  background-color: var(--lumo-contrast);
}

#header h1 {
  font-size: var(--lumo-font-size-l);
  margin: 0;
}

#logo {
  box-sizing: border-box;
  box-shadow: inset 0 -1px var(--lumo-contrast-10pct);
  padding: var(--lumo-space-s) var(--lumo-space-m);
}

#logo img {
  height: calc(var(--lumo-size-l) * 1.5);
}

#logo h1 {
  font-size: var(--lumo-font-size-xl);
  font-weight: 600;
  margin: 0 var(--lumo-space-s);
}

vaadin-tab {
  font-size: var(--lumo-font-size-s);
  height: var(--lumo-size-l);
  font-weight: 600;
  color: var(--lumo-body-text-color);
}

vaadin-tab:hover {
  background-color: var(--lumo-contrast-5pct);
}

vaadin-tab[selected] {
  background-color: var(--lumo-primary-color-10pct);
  color: var(--lumo-primary-text-color);
}